main{
    padding-left: var(--space-page);
    padding-right: var(--space-page);
}

body {
    background-color: var(--black);
}

p {
    color: var(--white);
}

h1 {
    font-family: var(--font-family-title);
    font-size: var(--font-size-title);
    color: var(--white);
    font-weight: var(--font-weight-light);
    letter-spacing: 5.6px;
    text-align: center;
    line-height: 170%;
    margin: 0;
       
}

h2{
    font-family: var(--font-family-title);
    font-size: var(--font-size-subtitle);
    color: var(--white);
    font-weight: var(--font-weight-light);
    line-height: 150%;
    text-transform: uppercase;
    letter-spacing: 5.6px;
    margin: 0;
}

p{
    color: var(--white);
    font-family: var(--font-family-text);
    font-size: var(--font-size-body2);
    font-weight: var(--font-weight-light);
    line-height: 130%;
}

a{
    text-decoration: none;
    color: var(--white)
}

ul{
    list-style-type: none;
}

.chapo__publication {
    font-family: var(--font-family-chapo);
    color: var(--gray);
    font-size: var(--font-size-time);
    margin: 0;
}

.chapo {
    font-family: var(--font-family-chapo);
    font-size: var(--font-size-chapo);
    color: var(--white);
    padding-top: 0px;
    margin-top: 10px;
}

.console__chapo2 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.projets__chapo{
    padding-bottom: 0px;
    margin-bottom: 100px;
}

.home__chapo3{
    margin: 0;
    padding-bottom: var(--space-chapo);
}


.article__title--home{
    margin-bottom: var(--space-title);
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 150%;
}

.article__title{
    margin-bottom: var(--space-title);
}

.article__title{
    margin-top: var(--space-chapo);
}

.article__legende{
    font-family: var(--font-family-text);
    font-size: var(--font-size-legende);
    margin-top: 7px;
    margin-bottom: 0px;
}

.legende1{
    margin-bottom: var(--space-img);
}

.legende2{
    margin-bottom: 20px;
}

.legende3{
    margin-bottom: 35px;
}

.frise__title{
    padding-top: var(--space-chapo);
}

.carrousel__title{
    padding-top: var(--space-chapo);
}

