.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 27px;
    margin-left: 25px;
    margin-right: 23px;
    margin-bottom: -15px;    
}

.header__left{
    display: flex;
    flex-direction: row;
    gap: 7px;
    padding-top: 25px;
}

.header__langue--fr {
    font-family: var(--font-family-title);
    font-size: var(--font-size-time);
    border: 2.5px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 5px rgba(255, 255, 255, 1.0);
    padding: 9px 7px;
    background: var(--pink);
}

.header__langue--en {
    font-family: var(--font-family-title);
    font-size: var(--font-size-time);
    border: 1px solid var(--white);
    padding: 9px 7px;      
}

.header__logo--icon{
    width: 115px;
    padding-right: 42px;
    padding-top: 25px;
}

.menu__icon{
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.menu__btn{
    width: 30px;
    align-items: center;
    padding-top: 25px;
    cursor: pointer;
}

.header__title{
    font-family: var(--font-family-title);
    font-size: var(--font-size-header);
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    padding-top: 25px;
    width: 200px;
    line-height: 150%;
    margin-left: -12px;
}

.header2__logo--icon{
    width: 100px;
    margin-left: -18px;
    margin-right: -18px;
}

.header__neon {
    width: 420px;
    margin-left: 72px;
   
}

.header__neon--img{
    width: 450px;
    
}

