.header__langue--fr {
    font-family: var(--font-family-title);
    font-size: var(--font-size-time);
    box-shadow: 0 0 10px rgba(255, 255, 255, 1.0);
    padding: 8px;
    padding-top: 11px;
    padding-bottom: 11px;
    background: var(--pink);
}

.header__langue--en {
    font-family: var(--font-family-title);
    font-size: var(--font-size-time);
    border: 1px solid var(--white);
    padding: 6px;
    padding-top: 11px;
    padding-bottom: 11px;
}