.btn{
    font-family: var(--font-family-title);
    font-size: var(--font-size-button);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.hero__btn--commencer {
    font-family: var(--font-family-title);
    font-size: var(--font-size-small-title);
    font-weight: var(--font-weight-light);
    letter-spacing: 3px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease;
    animation: clignoter 0.8s infinite alternate;
    padding-top: 70px;
}

@keyframes clignoter {
    0% {
        text-shadow:
            0 0 10px var(--buttoncolor),
            0 0 20px var(--buttoncolor),
            0 0 30px var(--buttoncolor),
            0 0 20px var(--buttoncolor);
    }

    50% {
        text-shadow:
            0 0 5px var(--buttoncolor),
            0 0 10px var(--buttoncolor),
            0 0 15px var(--buttoncolor),
            0 0 15px var(--buttoncolor);
        opacity: 5.0;
    }

    100% {
        text-shadow:
            0 0 10px var(--pink),
            0 0 20px var(--pink),
            0 0 30px var(--pink),
            0 0 20px var(--pink);
    }
}

.hero__sous-titre:hover {
    animation: none;
    text-shadow:
        0 0 40px var(--buttoncolor),
        0 0 80px #00c2e5;
    color: var(--buttoncolor);
    border-color: var(--buttoncolor);
    transform: scale(1.05);
}

.btn__center--position {
    display: flex;
    justify-content: center;
    text-align: center;
}

.btn__containerpink{
    border: 3px solid var(--pink);
    border-radius: 15px;
    box-shadow:
            0 0 10px var(--pink),
            0 0 10px var(--pink),
            0 0 10px var(--pink),
            0 0 10px var(--pink);
    text-align: center;
    cursor: pointer;
    padding: 17px;
    width: 160px;
}

.btn__containerblue {
    border: 3px solid var(--blue);
    border-radius: 15px;
    box-shadow:
        0 0 10px var(--blue),
        0 0 10px var(--blue),
        0 0 10px var(--blue),
        0 0 10px var(--blue);
    text-align: center;
    cursor: pointer;
    padding: 17px;
    width: 160px;
}

.btn__containerpurple {
    border: 3px solid var(--purple);
    border-radius: 15px;
    box-shadow:
        0 0 10px var(--purple),
        0 0 10px var(--purple),
        0 0 10px var(--purple),
        0 0 10px var(--purple);
    text-align: center;
    cursor: pointer;
    padding: 17px;
    width: 160px;
}

.btn__containergreen {
    border: 3px solid var(--lightblue);
    border-radius: 15px;
    box-shadow:
        0 0 10px var(--lightblue),
        0 0 10px var(--lightblue),
        0 0 10px var(--lightblue),
        0 0 10px var(--lightblue);
    text-align: center;
    cursor: pointer;
    padding: 17px;
    width: 160px;
}

.btn__containerlightblue{
    border: 3px solid var(--buttoncolor);
    border-radius: 15px;
    box-shadow:
        0 0 10px var(--buttoncolor),
        0 0 10px var(--buttoncolor);
    text-align: center;
    cursor: pointer;
    padding: 17px;
    width: 160px;
}

.article__card--pink{
    text-shadow:
        0 0 10px var(--pink),
        0 0 10px var(--pink);
}

.article__card--blue{
    text-shadow:
        0 0 10px var(--blue),
        0 0 10px var(--blue);
}

.article__card--purple {
    text-shadow:
        0 0 10px var(--purple),
        0 0 10px var(--purple),
        0 0 20px var(--purple);
}

.article__card--green {
    text-shadow:
        0 0 10px var(--lightblue),
        0 0 10px var(--lightblue);
}

.article__card--lightblue{
    text-shadow:
        0 0 10px var(--buttoncolor),  
        0 0 10px var(--buttoncolor);
}

.btnbleu__text{
        font-family: var(--font-family-title);
        font-size: var(--font-size-button);
        text-transform: uppercase;
        text-shadow:
            0 0 10px var(--buttoncolor),
            0 0 10px var(--buttoncolor),
            0 0 10px var(--buttoncolor),
            0 0 10px var(--buttoncolor);
        line-height: 150%;
        text-align: center;
        text-transform: uppercase;
        margin:0;   
}

.btnbleu__container{
    margin-top: var(--space-button);
    padding: 10px 30px;
    border: 5px solid var(--buttoncolor);
    border-radius: 50px;
    box-shadow: 0 0 15px var(--buttoncolor);
    cursor: pointer;    
}

.btnbleu__container--size{
    padding-left: 62px;
    padding-right: 62px;
}

.bouton__suivant{
    font-family: var(--font-family-title);
    font-size: var(--font-size-subtitle);
    color: var(--white);
    font-weight: var(--font-weight-light);
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow:
         0 0 40px var(--pink);
    margin-top: 160px;
    margin-bottom: 126px;
    text-align: center;
    transition: all 0.2s ease;
    animation: clignoter 0.8s infinite alternate;
}

.hero__btn{
    font-family: var(--font-family-title);
        font-size: var(--font-size-subtitle);
        text-transform: uppercase;
        letter-spacing: 5px;
        text-shadow:
                0 0 15px var(--darkblue),
                0 0 10px var(--darkblue),
                0 0 20px var(--darkblue),
                0 0 40px var(--darkblue);
        cursor: pointer;
        transition: all 0.2s ease;
        animation: clignoter 0.8s infinite alternate;       
}

.hero__btn--container{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    gap: 20px;
}


