.btn{
    font-family: var(--font-family-title);
    font-size: var(--font-size-button);
    text-transform: uppercase;
    letter-spacing: 1px;
    
}

.hero__sous-titre {
    cursor: pointer;
    transition: all 0.2s ease;
    animation: clignoter 0.8s infinite alternate;
    padding-top: 70px;
}

@keyframes clignoter {
    0% {
        text-shadow:
            0 0 10px var(--buttoncolor),
            0 0 20px var(--buttoncolor),
            0 0 30px var(--buttoncolor),
            0 0 20px var(--buttoncolor);
    }

    50% {
        text-shadow:
            0 0 5px var(--buttoncolor),
            0 0 10px var(--buttoncolor),
            0 0 15px var(--buttoncolor),
            0 0 15px var(--buttoncolor);
        opacity: 5.0;
    }

    100% {
        text-shadow:
            0 0 10px var(--pink),
            0 0 20px var(--pink),
            0 0 30px var(--pink),
            0 0 20px var(--pink);
    }
}

.hero__sous-titre:hover {
    animation: none;
    text-shadow:
        0 0 10px #00f6ff,
        0 0 20px #00f6ff,
        0 0 40px #00f6ff,
        0 0 80px #00c2e5;
    color: #00f6ff;
    border-color: #00f6ff;
    transform: scale(1.05);
}

.button__container{
    padding: 20px;
    border: 2px solid transparent;
    border-radius: 15px;
    background: var(--black);
    box-shadow:
            0 0 10px #B401B3,
            0 0 10px #B401B3,
            0 0 10px #B401B3,
            0 0 10px #B401B3,
            0 0 10px #B401B3,
            0 0 10px #B401B3;
    text-align: center;
    cursor: pointer;
    padding: 20px 20px;
}

.button__containerdarkblue {
    padding: 20px;
    border: 2px solid transparent;
    border-radius: 15px;
    background: var(--black);
     
    box-shadow:
        0 0 10px #44449C,
        0 0 10px #44449C,
        0 0 10px #44449C,
        0 0 10px #44449C,
        0 0 10px #44449C,
        0 0 10px #44449C;
    text-align: center;
    cursor: pointer;
    padding: 20px 20px;
}

.button__containerpurple {
    padding: 20px;
    border: 2px solid transparent;
    border-radius: 15px;
    background: var(--black);
    box-shadow:
        0 0 10px #541C94,
        0 0 10px #541C94,
        0 0 10px #541C94,
        0 0 10px #541C94,
        0 0 10px #541C94,
        0 0 10px #541C94;
    text-align: center;
    cursor: pointer;
    padding: 20px 20px;
}

.button__containergreen {
    padding: 20px;
    border: 2px solid transparent;
    border-radius: 15px;
    background: var(--black);
    box-shadow:
        0 0 10px #5DDBAC,
        0 0 10px #5DDBAC,
        0 0 10px #5DDBAC,
        0 0 10px #5DDBAC,
        0 0 10px #5DDBAC,
        0 0 10px #5DDBAC;
    text-align: center;
    cursor: pointer;
    padding: 20px 20px;
}

.button__containerblue {
    padding: 20px;
    border: 2px solid transparent;
    border-radius: 15px;
    background: var(--black);
    box-shadow:
        0 0 10px #50CEE1,
        0 0 10px #50CEE1,
        0 0 10px #50CEE1,
        0 0 10px #50CEE1,
        0 0 10px #50CEE1,
        0 0 10px #50CEE1;
    text-align: center;
    cursor: pointer;
    padding: 20px 20px;
}

.article__card--pink{
    text-shadow:
        0 0 10px var(--pink),
        0 0 2px var(--pink),
        0 0 5px var(--pink),
        0 0 40px var(--pink);
}

.article__card--darkblue{
    text-shadow:
        0 0 10px var(--darkblue),
        0 0 2px var(--darkblue),
        0 0 5px var(--darkblue),
        0 0 40px var(--darkblue);
}

.article__card--purple {
    text-shadow:
        0 0 10px var(--purple),
        0 0 2px var(--purple),
        0 0 5px var(--purple),
        0 0 40px var(--purple);
}

.article__card--green {
    text-shadow:
        0 0 10px var(--lightblue),
        0 0 2px var(--lightblue),
        0 0 5px var(--lightblue),
        0 0 40px var(--lightblue);
}

.article__card--blue {
    text-shadow:
        0 0 10px var(--buttoncolor),
        0 0 2px var(--buttoncolor),
        0 0 5px var(--buttoncolor),
        0 0 40px var(--buttoncolor);
}


.btnbleu__text{
    font-family: var(--font-family-title);
        font-size: var(--font-size-button);
        text-transform: uppercase;
        letter-spacing: 1px;
        text-shadow:
            0 0 10px var(--buttoncolor),
            0 0 5px var(--buttoncolor),
            0 0 5px var(--buttoncolor),
            0 0 10px var(--buttoncolor);
        padding-top: 15px;
        padding-bottom: 15px;
        
        margin-top: var(--space-button);
        line-height: 150%;
        text-align: center;
        text-transform: uppercase;
       
}

.btnbleu__container{
    border-radius: 50px;
        background: var(--black);
        background-clip: padding-box;
        box-shadow:
            0 0 15px #50CEE1,
            0 0 15px #50CEE1,
            0 0 15px #5DDBAC,
            0 0 10px #5DDBAC;
        cursor: pointer;
}

.bouton__suivant{
    font-family: var(--font-family-title);
    font-size: var(--font-size-subtitle);
    color: var(--white);
    font-weight: var(--font-weight-light);
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow:
        0 0 10px var(--pink),
         0 0 2px var(--pink),
         0 0 5px var(--pink),
         0 0 40px var(--pink);
    padding-top: 160px;
    margin-bottom: 126px;
    text-align: center;
    transition: all 0.2s ease;
    animation: clignoter 0.8s infinite alternate;
}

.hero__btn{
    font-family: var(--font-family-title);
        font-size: var(--font-size-subtitle);
        text-transform: uppercase;
        letter-spacing: 5px;
        text-shadow:
                0 0 15px var(--darkblue),
                0 0 10px var(--darkblue),
                0 0 20px var(--darkblue),
                0 0 40px var(--darkblue);
        cursor: pointer;
        transition: all 0.2s ease;
        animation: clignoter 0.8s infinite alternate;
}

.hero__btn--container{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    gap: 30px;
}

.filmbtn{
    margin-bottom: var(--space-button);
}
