.article__cardpink--container{
    padding: 20px;
    border: 2px solid transparent;
    border-radius: 15px;
    background: var(--black);
    box-shadow: 
            0 0 10px var(--pink),
            0 0 10px var(--pink),
            0 0 10px var(--pink),
            0 0 10px var(--pink),
            0 0 10px var(--pink),
            0 0 10px var(--pink);
    text-align: center;
    margin-bottom: var(--space-button);
}

.article__cardblue--container {
    margin-top: 200px;
    padding: 20px;
    border: 2px solid transparent;
    border-radius: 15px;
    background: var(--black);
    box-shadow:
        0 0 10px var(--blue),
        0 0 10px var(--blue),
        0 0 10px var(--blue),
        0 0 10px var(--blue),
        0 0 10px var(--blue),
        0 0 10px var(--blue);
    text-align: center;
    margin-bottom: var(--space-button);
}

.article__cardpurple--container {
    margin-top: 200px;
    padding: 20px;
    border: 2px solid transparent;
    border-radius: 15px;
    background: var(--black);
    box-shadow:
        0 0 10px  var(--purple),
        0 0 10px  var(--purple),
        0 0 10px  var(--purple),
        0 0 10px  var(--purple),
        0 0 10px  var(--purple),
        0 0 10px  var(--purple);
    text-align: center;
    margin-bottom: var(--space-button);
}

.article__cardgreen--container {
    margin-top: 200px;
    padding: 20px;
    border: 2px solid transparent;
    border-radius: 15px;
    background: var(--black);
    box-shadow:
        0 0 10px var(--lightblue),
        0 0 10px var(--lightblue),
        0 0 10px var(--lightblue),
        0 0 10px var(--lightblue),
        0 0 10px var(--lightblue),
        0 0 10px var(--lightblue);
    text-align: center;
    margin-bottom: var(--space-button);
}

.article__cardlightblue--container{
    margin-top: 200px;
    padding: 20px;
    border: 2px solid transparent;
    border-radius: 15px;
    background: var(--black);
    box-shadow:
        0 0 10px var(--buttoncolor),
        0 0 10px var(--buttoncolor),
        0 0 10px var(--buttoncolor),
        0 0 10px var(--buttoncolor),
        0 0 10px var(--buttoncolor),
        0 0 10px var(--buttoncolor);
    text-align: center;
    margin-bottom: var(--space-button);
}

.article__card--title{
    line-height: 150%;
    margin-bottom: 10px;
}

.article__card--text{
    font-family: var(--font-family-text);
    font-size: var(--font-size-body2);
    text-align: center;
    line-height: 130%;
    margin-bottom: 0px;
    margin-top: 15px;
}
