.carrousel__container{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x proximity; 
    scroll-behavior: smooth;
    scrollbar-width: none;
    margin-right: -25px;
    margin-left: -25px;
}

.carrousel__item{
    scroll-snap-align: center;
}

.carrousel__container--neon{
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    margin: 0 10px;
    box-shadow: 0 0 15px var(--pink);
    border: 2px solid var(--pink);
    width: 290px;
}

.carrousel__container--img {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.carrousel__img {
    width: 240px;
}

.carrousel__title--card {
    font-family: var(--font-family-title);
    font-size:var(--font-size-small-title);
    text-transform: uppercase;
    margin-bottom: var(--space-title);

}

.carrousel__descreption {
    font-size: var(--font-size-body2);
    font-weight: var(--font-weight-light);
    line-height: 1.5;
    margin: 0;
}

.btnbleu__container {
    text-align: center;
}

.carrousel__btn {
    font-family: var(--font-family-title);
    font-size: var(--font-size-button);
    text-transform: uppercase;
    text-shadow:
        0 0 10px var(--buttoncolor),
        0 0 10px var(--buttoncolor);
}




