form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.form__title {
    font-family: var(--font-family-title);
    color: var(--white);
    font-size: var(--font-size-body2);
    text-transform: uppercase;
    letter-spacing: 4.6px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 280px;
    padding: 10px 15px;
    background: var(--white);
    border: 1px solid var(--lightblue);
    border-radius: 10px;
    box-shadow:
            0 0 10px var(--lightblue),
            0 0 10px var(--lightblue),
            0 0 10px var(--lightblue);
}

.btnform__container{
    display: flex;
    justify-content: center;
    padding-bottom: 126px;
}

form button {
    color: var(--lightblue);
    padding: 15px 25px;
    background: var(--white);
    border: 2px solid transparent;
    box-shadow:
            0 0 10px var(--lightblue),
            0 0 10px var(--lightblue),
            0 0 10px var(--lightblue);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


form button:hover {
    color: #fff;
    background: var(--lightblue);
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.8);
}