form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.form__title {
    font-family: var(--font-family-title);
    color: var(--white);
    font-size: var(--font-size-body2);
    text-transform: uppercase;
    letter-spacing: 4.6px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 280px;
    padding: 10px 15px;
    background: var(--white);
    border: 1px solid var(--lightblue);
    border-radius: 10px;
    box-shadow:
            0 0 10px var(--lightblue),
            0 0 10px var(--lightblue),
            0 0 10px var(--lightblue);
}




